// 320
.b-trainer-add-schedule {

    &__calendar {
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 20px;
    }

    &__add-more {
        text-align: center;
        padding: 5px 0px 30px;
    }
}