// 320
.b-trainer-add-schedule {
    &__calendar {
        margin-bottom: 20px;
        padding-top: 1px;
        z-index: 20;
    }

    &__add-more {
        text-align: center;
        padding: 5px 0px 30px;
    }

    &__save {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        padding: 0 16px 16px;
        background-color: #fff;
    }

    &__schedule {
        padding: 15px 15px 100px;
    }
}