// 320
.b-trainer-add-schedule {
    background-color: $mint;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    &__calendar {
        z-index: 20;
    }

    &__add-more {
        padding: 5px 0px 30px;
        text-align: center;
    }

    &__save {
        position: sticky;
        z-index: 100;
        bottom: 16px;
        left: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__schedule {
        padding: 16px;
        border-radius: 15px 15px 0 0;
        background-color: $main-background;
        display: flex;
        flex-direction: column;
    }
}
