// 768
.b-trainer-add-schedule {
    background-color: $background-schedule;
    
    &__calendar {
        background: #fff;
    }

    &__save {
        background-color: $background-schedule;
    }
}