// 320
.b-alert {
    position: fixed;
    z-index: 1000;
    top: 100px;
    left: 50%;
    width: calc(100% - 30px);
    max-width: 540px;
    padding: 15px 15px 15px 15px;
    font-size: 18px;
    line-height: 1.5;
    transform: translateX(-50%);
    border-left: 10px solid #f55f0c;
    border-radius: $border-radius;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px 3px #00000033;

    &--success {
        border-color: $ok;
    }

    &--error {
        border-color: $error;
    }

    &__heading {
        margin-bottom: 15px;
    }

    &__button-wrapper {
        margin-top: 15px;
        text-align: right;
    }
}
