// 320++
.b-schedule-list {
    margin: 0px;
    padding-left: 0;
    margin-bottom: 30px;

    &__item {
        list-style-type: none;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}