// 320++
.b-schedule-list {
    margin: 0px;
    padding-left: 0;
    margin: 5px -15px 15px;

    &__item {
        list-style-type: none;
        border-bottom: 1px solid $border-color;

        &:first-child {
            border-top: 1px solid $border-color;
        }
    }
}