// 768++
.b-schedule-list {

    &__item {
        border: 1px solid $border-color;
        border-radius: 6px;
        overflow: hidden;
        transition: border-color $animation-time;

        .no-touchevents &:hover,
        .touchevents &:active {
            border-color: $orange-diamond-yellow;
        }
    }
}