// 320
.b-time-field {
    margin-bottom: 40px;

    &__label {
        @include label();
        display: inline-block;
        margin-bottom: 5px;
    }

    &__input {
        @include input();
        border-bottom: 2px solid $mint;
        color: #000;
        height: 40px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__keeper-wrapper {
        display: block;
    }
}

.outside_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
    pointer-events: none;
    z-index: 1000;
    display: flex;
}

.modal_container {
    top: 0 !important;
    width: 300px !important;
    margin: auto !important;
    position: static !important;
    touch-action: auto;
    pointer-events: all;
}

.preview_container {
    padding-left: 0px !important;
    left: 0px !important;
    transform: translateX(0) !important;
}

.time_picker_preview {
    box-shadow: none !important;
    border-bottom: 2px solid #0b4e35;
}