// 320
.b-time-field {
    margin-bottom: 40px;

    &__label {
        display: inline-block;
        @include label();
    }

    &__input {
        display: flex;
        align-items: center;
        height: 40px;
        cursor: pointer;
        color: $mainFontColor;
        border-bottom: 2px solid $mint;

        @include font-size-5();
    }

    &__keeper-wrapper {
        display: block;
    }
}

.outside_container {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 100%;
    pointer-events: none;

    touch-action: none;
}

.modal_container {
    position: static !important;
    top: 0 !important;
    width: 300px !important;
    margin: auto !important;
    pointer-events: all;

    touch-action: auto;
}

.preview_container {
    left: 0px !important;
    padding-left: 0px !important;
    transform: translateX(0) !important;
    height: 40px!important;
    padding-top: 5px;
    line-height: 35px!important;
}

.time_picker_preview {
    border-bottom: 1px solid #0b4e35;
    box-shadow: none !important;
    height: 40px!important;
}
