// 320
.b-head-menu {
    position: relative;
    z-index: 40;

    &__open-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: $headerHeight;
        padding: 0 8px;
        cursor: pointer;
        text-align: center;
        color: $whiteFontColor;
        outline: none;

        @include hover {
            color: $whiteFontColor;
            background: $header-hover;

            svg path {
                fill: #ffffff;
            }
        }

        &--arrow {
            &:after {
                content: '';
                position: relative;
                display: inline-block;
                border: 4px solid transparent;
                border-top: 6px solid #fff;
                margin-left: 6px;
                margin-top: 5px;
            }
        }
    }

    &__account-wrapper {
        display: flex;
        align-items: center;
    }

    &__account-name {
        display: none;
        margin-top: 4px;
        margin-right: 8px;
        font-family: $regular;
        font-size: .9rem;
        color: #e8e8e8;
    }

    &__image-wrapper {
        overflow: hidden;
        flex: 0 0 auto;
        width: 44px;
        height: 44px;
        transition-duration: $animation-time;
        transition-property: border-color;
        text-align: center;
        border: 4px solid rgba(0, 0, 0, .3);
        border-radius: 100%;
        background-color: rgba(0, 0, 0, .3);
        background-clip: padding-box;

        &--popup {
            width: 57px;
            height: 57px;
            margin-right: 12px;
            border: 4px solid rgba(0, 0, 0, .8);
            border-radius: 5px;
            background-color: rgba(0, 0, 0, .8);
        }

        &--popup-alien {
            width: 42px;
            height: 42px;
            line-height: 42px;
            font-size: 1.5rem;
            margin-right: 12px;
            border: 1px solid rgba(0, 0, 0, .8);
            border-radius: 5px;
            background-color: transparent;
            color: $mainFontColor;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: calc(100% - 50px);
        max-width: 360px;
        transition: transformX .1s;
        text-align: left;
        border: 1px solid $border-color;
        border-radius: 0;
        background: white;
        box-shadow: -1000px 0px 0 1000px rgba(0, 0, 0, .4);
    }

    &__content-header {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        margin-bottom: 5px;
        padding: 15px;
        border-bottom: 1px solid $border-color;

@include hover {
            background-color: hsl(0, 0%, 97%);

            .b-head-menu__content-link {
                text-decoration: underline;
            }
        }

        @include focus {
            .b-head-menu__content-link {
                text-decoration: underline;
            }
        }
    }

    &__content-list {
        margin-top: 0px;
        margin-bottom: 5px;
        padding-left: 0;

        &:not(:last-child) {
            padding-bottom: 5px;
            border-bottom: 1px solid $border-color;
        }
    }

    &__content-item {
        list-style-type: none;

        a:hover {
            background-color: hsl(0, 0%, 97%);
        }
    }

    &__content-text {
        display: block;
        padding: 8px 0px;
        padding-right: 15px;
        padding-left: 15px;
        color: $mainFontColor;

        &--name {
            margin: 0;
            padding: 0;
            font-family: $bold;
            font-size: 1.1rem;
            line-height: 1;
            letter-spacing: -.3px;
        }
    }

    &__content-additional {
        margin-bottom: 6px;
        line-height: 1.1;
        color: $mainFontColor;
    }

    &__content-link {
        font-weight: 300;
        line-height: 1;
        color: $secondary;
    }

    &--open & {
        &__image-wrapper {
            svg path {
                fill: #ffffff;
            }
        }
    }
}
