// 320
.b-head-menu {
    position: relative;
    z-index: 40;

    &__open-button {
        display: inline-flex;
        height: 100%;
        height: 64px;
        padding: 0 15px;
        color: #fff;

        align-items: center;

        .b-head-menu--open &,
        .no-touchevents &:hover {
            color: #fff;
            background: $header-hover;
        }

        span {
            font-size: 14px;
            line-height: 21px;
        }
    }

    &__account-wrapper {
        display: flex;

        align-items: center;
    }

    &__account-name {
        display: none;
        margin-top: 6px;
        margin-right: 8px;
        color: #e8e8e8;
    }

    &__image-wrapper {
        overflow: hidden;
        width: 30px;
        height: 30px;
        transition-duration: $animation-time;
        transition-property: border-color;
        text-align: center;
        border-radius: 100%;

        &--blank {
            width: 40px;
            height: 40px;
            border-radius: 0;
        }
    }

    &__image {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    &__content {
        font-size: 14px;
        position: absolute;
        top: calc(100% + 2px);
        right: 0;
        width: calc(100vw - 30px);
        max-width: 480px;
        padding-top: 15px;
        text-align: left;
        border: 1px solid $border-color;
        border-radius: 3px;
        background: white;
        box-shadow: 0 2px 4px rgba(0,0,0,.1);
    }

    &__content-list {
        margin-top: 0px;
        margin-bottom: 10px;
        padding-right: 15px;
        padding-left: 15px;

        &:not(:last-child) {
            padding-bottom: 10px;
            border-bottom: 1px solid $border-color;
        }
    }

    &__content-item {
        list-style-type: none;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__content-text {
        display: block;
        padding: 5px 0px;
        color: $mainFontColor;

        &--name {
            font-family: $bold;
            letter-spacing: .3px;
        }
    }

    &__content-additional {
        font-size: 12px;
        line-height: 16px;
        color: $telegray;
    }

    &--open & {
        &__image-wrapper {
            border-color: $carmine-pink;
        }
    }
}
