// 320++
.b-button {
    background-color: $orange-diamond-yellow;
    border: none;
    background: linear-gradient(to right, #68a2b8, #55bc96);
    border-radius: 20px;
    font-family: $bold;
    color: $black;
    padding: 15px 30px;
    transition: color $animation-time;
    font-size: 14px;
    display: inline-block;

    &:focus {
        outline: none;
    }

    .no-touchevents &:hover,
    .touchevents &:active {
        color: $white;
    }

    &--orange {
        background: $orange-diamond-yellow;
    }

    &--save {
        width: 100%;
        border-radius: 0;
        padding: 12px 30px;
    }

    &--hello-page {
        width: 260px;
    }
}