// 320++
.b-button {
    display: inline-block;
    padding: 14px 25px;
    font-family: $bold;
    font-size: 14px;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: $border-radius;
    background: #0b4e35;

    .no-touchevents &:hover,
    .touchevents &:active {
        background-color: #0d6041;
    }

    &--full {
        width: 100%;
    }

    &--hollow {
        color: #121212;
        border: 1px solid $mint;
        background: none;

        .no-touchevents &:hover,
        .touchevents &:active {
            color: $mint;
            background-color: #0d60412c;
        }
    }

    &--save {
        width: 100%;
        border-radius: 0;
    }

    &--hello-page {
        width: 290px;
    }

    &--login {
        width: 100%;
        color: #fff;
        border: 1px solid $mint;
        background: none;

        .no-touchevents &:hover,
        .touchevents &:active {
            color: #fff;
            background-color: #0d60412c;
        }
    }
}
