// 320++
.b-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    border: 1px solid $mint;
    border-radius: $border-radius;
    background: $mint;
    transition: .1s;
    outline: none;

    @include hover {
        background-color: lighten($mint, 4);
    }
    @include focus {
        border: 1px solid $focus;
        background-color: #053b3d;
    }

    &--full {
        width: 100%;
    }

    &--hollow {
        color: #000;
        background-color: hsla(0, 0%, 100%, 0.8);

        @include hover {
            color: #000;
            background-color: rgba(234, 241, 236, 0.9);
        }
        @include focus {
            background-color: $focusTrans;
            border-color: $focus;
        }
    }

    &--save {
        width: 50%;
        margin-right: 10px;
    }

    &--add-more {
        width: 50%;
    }

    &--hello-page {
        background: #fff;
        width: 240px;
    }

    &--login {
        width: 100%;
        color: #ffffff;
        border: 1px solid $mint;
        background: none;

        @include hover {
            color: #ffffff;
            background-color: rgba($mint, .5);
        }
    }

    &--alert-prima {
        min-width: 100px;
    }
}
