// 320++
.b-profile-tabs {
    background: #fff;

    &__list-wrapper {
        padding: 60px 15px;
        background: #f4f8f9;

        position: fixed;
        z-index: 50;
        top: 0px;
        left: 0px;
        height: 100%;
        width: calc(100% - 60px);
        transform: translateX(-100%);
        transition-property: transform;
        transition-duration: $animation-time;
        transition-timing-function: $materialFunction;

        &.open {
            transform: translateX(0%);
        }
    }

    &__list {
        margin: 0px;
        padding: 0;
    }

    &__back {
        font-family: $medium;
        font-size: 15px;
        line-height: 1;
        padding: 10px 0px;
        display: block;
        margin-top: -43px;
        margin-bottom: 30px;
    }
}