.b-main {
    flex: 1 0 auto;
    background-color: $main-background;

    &--hello-page {
        background: #fbfbfb;
        // background-image: url(../../../style/images/back-main-1.jpg);
        background-image: url(../../../style/images/back-main-1.webp);
        background-position: left top;
        background-size: cover;
    }
}
