// 1280++
.b-schedule {
    height: 100%;
    border-radius: 0;

    &__date {
        padding: 30px;
    }

    &__title {
        font-size: 18px;
    }

    &__cost,
    &__playground {
        font-size: 16px;
    }

    &__playground-name {
        font-size: 17px;
    }

    &__price {
        margin-bottom: 30px;
    }
}
