// 1280++
.b-schedule {
    display: flex;
    width: 100%;

    &__content {
        height: 100%;
        width: 100%;
    }

    &__date {
        padding: 30px;
    }

    &__title {
        font-size: 18px;
    }

    &__cost,
    &__playground {
        font-size: 16px;
    }

    &__playground-name {
        font-size: 17px;
    }

    &__price {
        margin-bottom: 30px;
    }
}
