// 1280++
.b-schedule {
    height: 100%;
    border-radius: 0;

    &__title {
        font-size: 20px;
        margin-bottom: 30px; 
    }

    &__cost {
        font-size: 16px;
    }

    &__price {
        margin-bottom: 50px;
    }
}