// 320++
.b-schedule {
    overflow: hidden;
    margin: 0px -15px;
    padding: 0px 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #fff;

    &__date {
        margin-right: -15px;
        margin-bottom: 30px;
        margin-left: -15px;
        padding: 15px;
        font-family: $roboto;
        font-size: 18px;
        line-height: 1;
        text-transform: uppercase;
        border-bottom: 1px solid #ebebeb;
    }

    &__timetable {
        font-family: $light;
        font-size: 11px;
        line-height: 14px;
        text-transform: none;
    }

    &__title {
        margin-bottom: 10px;
        font-family: $bold;
        font-size: 16px;
        line-height: 16px;
        color: $mainFontColor;
    }

    &__price-value {
        display: inline-block;
        padding: 0 0 0 4px;
        font-weight: 700;
        color: $carmine-pink;
    }

    &__cost,
    &__playground {
        display: block;
        font-family: $medium;
        font-size: 14px;
        color: $mint;
    }

    &__cost {
        & + & {
            margin-top: 5px;
        }
    }

    &__price {
        margin-bottom: 30px;
    }

    &__playground {
        margin-bottom: 30px;
    }

    &__playground-name {
        display: inline-block;
        font-size: 16px;
    }

    &__playground-address {
        display: inline-block;
        padding-left: 4px;
        color: $carmine-pink;
    }

    &__playground-item {
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    &__not {
        margin-bottom: 50px;
    }
}
