// 768++
.b-schedule {
    background-color: $background-schedule;

    &__date {
        background-color: $white;
    }

    &__price,
    &__playground {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding-right: 20px;
    }
}