// 768++
.b-schedule {
    margin: 0 -30px;

    &__content {
        background-color: $background-schedule;
        padding: 0px 30px;
    }

    &__date {
        background-color: #fff;
        margin-left: -30px;
        margin-right: -30px;
        padding: 15px 30px;
    }
}