// 320
.b-close {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 0px;
    border: 0px;
    background: none;
    border-radius: 50%;
    background-color: $orange-diamond-yellow;
    transition: box-shadow $animation-time;

    .no-touchevents &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }

    &:focus,
    &:active {
        outline: none;
    }

    &:before, &:after {
        position: absolute;
        top: 7px;
        left: 15px;
        content: ' ';
        height: 18px;
        width: 2px;
        background-color: $white;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }

    &--modal {
        position: absolute;
        top: 10px;
        right: 15px;
    }

    &--schedule-item {
        position: absolute;
        right: 0px;
        top: 2px;
    }
}