// 320
.b-close {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 0px;
    border: 0px;
    background: none;
    transition: box-shadow $animation-time;
    border-radius: $border-radius;
    border: 1px solid transparent;
    outline: none;

    &:before, &:after {
        position: absolute;
        top: 7px;
        left: 15px;
        content: ' ';
        height: 18px;
        width: 2px;
        background-color: $telegray;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }

    @include focus {
        border-color: $secondary;
        &:before, &:after {
            background-color: rgb(61, 61, 61);
        }
    }

    @include hover {
        &:before, &:after {
            background-color: rgb(61, 61, 61);
        }
    }

    &--modal {
        position: absolute;
        top: 9px;
        right: 6px;
    }

    &--my-book-card {
        right: 0;
        top: 0;
        position: absolute;
    }
}