// 320+
.b-checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;

    &--hide {
        display: none;
    }



    &__input {
        display: none;
    }

    &__label {
        display: inline-block;
        padding-top: 3px;
        cursor: pointer;
        transition: color $animation-time;

        .b-checkbox--check & {
            font-weight: 500;
        }
    }

    &__check {
        position: relative;
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 0;
        margin-right: 10px;
        cursor: pointer;
        transition-duration: $animation-time;
        transition-property: background-color;
        transform: translate3d(0, 0, 0);

        -webkit-tap-highlight-color: transparent;

        .no-touchevents &:hover {
            // background-color: rgba(234, 241, 236, 0.9);
        }

        svg {
            position: relative;
            z-index: 1;
            transition: all .2s ease;
            transform: translate3d(0, 0, 0);
            fill: none;
            stroke: $mint;
            stroke-linecap: round;
            stroke-width: 1;

            stroke-linejoin: round;

            path {
                transition: all .3s linear;
                stroke-dashoffset: 0;

                stroke-dasharray: 60;
            }

            polyline {
                transition: all .2s linear;
                transition-delay: .15s;
                stroke-dashoffset: 66;

                stroke-dasharray: 22;
            }
        }

        &--check {
            svg {
                stroke-width: 2;
                path {
                    stroke-dashoffset: 60;
                }
                polyline {
                    stroke-dashoffset: 42;
                }
            }
        }
    }
}
