// 320+
.b-checkbox {
    position: relative;
    margin-bottom: 1.6rem;

    &--hide {
        display: none;
    }

    &--white {
        color: $whiteFontColor;
    }

    &--agreement {
        margin-top: 10px;
        margin-bottom: 5px;
        // font-size: 90%;
        font-weight: 300;
    }

    &:focus-within {
        color: $focus;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__input {
        position: absolute;
        z-index: 0;
        top: 0px;
        left: 0px;
        width: 0px;
        height: 0px;
        opacity: 0;
    }

    &__label {
        display: inline-block;
        padding-top: 3px;
        cursor: pointer;
        transition: color $animation-time;

        .b-checkbox--check & {
            font-weight: 500;
        }

        a {
            text-decoration: underline;
            color: #2c2c2c;
        }
    }

    &__check {
        position: relative;
        display: inline-block;
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        margin: 0;
        margin-right: 10px;
        cursor: pointer;
        transition-duration: $animation-time;
        transition-property: background-color;
        transform: translate3d(0, 0, 0);

        -webkit-tap-highlight-color: transparent;

        svg {
            position: relative;
            z-index: 1;
            transition: all .2s ease;
            transform: translate3d(0, 0, 0);
            fill: none;
            stroke: $mint;
            stroke-linecap: round;
            stroke-width: 1;
            stroke-linejoin: round;

            .b-checkbox.error & {
                stroke: $error;
            }

            path {
                transition: all .3s linear;
                stroke-dashoffset: 0;

                stroke-dasharray: 60;
            }

            polyline {
                transition: all .2s linear;
                transition-delay: .15s;
                stroke-dashoffset: 66;

                stroke-dasharray: 22;
            }
        }

        &--check {
            svg {
                stroke-width: 2;
                path {
                    stroke-dashoffset: 60;
                }
                polyline {
                    stroke-dashoffset: 42;
                }
            }
        }
    }

    &__error {
        position: absolute;
        top: 100%;
        padding-top: 2px;
        @include error();
    }

    &--white & {
        &__label a {
            color: $whiteFontColor;
        }

        .touchevents &__label a:active,
        .no-touchevents &__label a:hover {
            color: #4489ff;
        }
    }

    &--align-top & {
        &__content {
            align-items: flex-start;
        }
    }
}
