// 320+
.b-checkbox {
    margin-bottom: 10px;

    &--hide {
        display: none;
    }

    &--white {
        color: #fff;
        margin-bottom: 30px;
    }

    &:focus-within {
        color: $focus;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__input {
        display: none;
    }

    &__label {
        display: inline-block;
        padding-top: 3px;
        cursor: pointer;
        transition: color $animation-time;

        .b-checkbox--check & {
            font-weight: 500;
        }

        a {
            color: #2c2c2c;
            text-decoration: underline;
        }
    }

    &__check {
        flex-shrink: 0;
        position: relative;
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 0;
        margin-right: 10px;
        cursor: pointer;
        transition-duration: $animation-time;
        transition-property: background-color;
        transform: translate3d(0, 0, 0);
        -webkit-tap-highlight-color: transparent;

        svg {
            position: relative;
            z-index: 1;
            transition: all .2s ease;
            transform: translate3d(0, 0, 0);
            fill: none;
            stroke: $mint;
            stroke-linecap: round;
            stroke-width: 1;

            stroke-linejoin: round;

            path {
                transition: all .3s linear;
                stroke-dashoffset: 0;

                stroke-dasharray: 60;
            }

            polyline {
                transition: all .2s linear;
                transition-delay: .15s;
                stroke-dashoffset: 66;

                stroke-dasharray: 22;
            }
        }

        &--check {
            svg {
                stroke-width: 2;
                path {
                    stroke-dashoffset: 60;
                }
                polyline {
                    stroke-dashoffset: 42;
                }
            }
        }
    }

    &__error {
        padding-top: 2px;
        font-size: 1rem;
        color: $error;
    }

    &--white & {
        &__label a {
            color: #fff;
        }

        .touchevents &__label a:active, 
        .no-touchevents &__label a:hover {
            color: #4489ff;
        }
    }

    &--align-top & {
        &__content {
            align-items: flex-start;
        }
    }
}
