// 320
.b-object-card {
    list-style-type: none;
    font-family: $roboto;
    background-color: #ffffff;
    box-shadow: $cardShadow;

    &__photo-wrapper {
        overflow: hidden;
        height: 160px;
        background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    }

    &__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__info {
        padding: 15px;
        line-height: 1.4;
        word-break: break-word;
    }

    &__name-group {
        display: block;
        margin-bottom: 10px;
        padding-bottom: 10px;
        font-size: (16em/15);
        font-weight: 700;
        line-height: 25px;
        color: $mainFontColor;
        border-bottom: 1px solid #eeeeee;
    }

    &__info-block {
        margin-bottom: 10px;
        font-weight: 500;
    }

    &__title {
        padding: 0;
        font-weight: 300;
    }

    &__cost {
        font-size: (16em/15);
        font-weight: 500;
        color: var(--accent-text);
    }

    &__list-place {
        padding: 0;
    }

    &__item-place {
        list-style: none;
    }

    &__button-item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__online-status {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: $ok;
        border-radius: 50%;
        margin-left: 8px;
    }
}
