// 320
.b-object-card {
    &__photo-wrapper {
        height: 160px;
        overflow: hidden;
        background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
        margin-bottom: 15px;
    }

    &__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__info {
        padding: 0 15px;
    }

    &__name-group {
        font-size: 20px;
        line-height: 25px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
        margin-bottom: 10px;
    }

    &__info-block {
        margin-bottom: 15px;
    }

    &__title {
        font-weight: 700;
        margin: 0 0 3px;
        padding: 0;
    }

    &__cost {
        font-size: 1.5em;
        color: var(--accent);
    }

    &__list-place {
        padding: 0;
    }

    &__item-place {
        list-style: none;
    }

    &__button {
        margin-top: 20px;
    }

    &__button-item {
        &:not(:last-child) {
            margin-bottom: 15px;            
        }
    }
} 