// 768
.b-object-card {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 100%;
    min-height: 320px;
    border-radius: 5px;
    overflow: hidden;
    
    &__photo-wrapper {
        order: 2;
        height: 100%;
        width: 180px;
        flex: 0 0 auto;
    }

    &__info {
        padding: 15px;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    &__name-group {
        text-align: center;
    }

    &__button {
        margin-top: auto;
    }
}