// 320
.b-profile-tab {
    list-style-type: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
    margin-bottom: 20px;

    &.active {
        .b-profile-tab__text {
            color: $carmine-pink;
            // font-family: $bold;
        }
    }

    &__icon {
        width: 30px;
        flex-shrink: 0;
        margin-right: 15px;
    }

    &__text {
        display: inline-block;
        margin: 0;
        transition: color $animation-time;
    }
}