// 1280
.b-object-service {

    &__training-playground {
        font-size: 17px;
        line-height: 26px;
    }

    &__playground-additional {
        font-size: 16px;
        line-height: 26px;
    }
}