// 320
.b-hello-page {
    margin-top: 60px;

    &__head-wrap {
        width: max-content;
        margin: auto auto 30px;
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 10px 15px 5px 20px;
        font-size: 34px;
        text-align: center;
        background-color: hsla(0, 0%, 100%, .61);

        // color: #fff;
        // background-color: hsla(0, 0%, 0%, .85);
    }

    &__sub-head {
        margin: 0 0 0 auto;
        width: max-content;
        padding: 0 10px 0 20px;
        font-family: $roboto;
        font-size: 1rem;
        font-weight: 400;
        text-align: right;
        margin-right: 15px;
        color: #2c2c2c;
        background-color: hsla(0, 0%, 100%, .61);

        // color: #fff;
        // background-color: hsla(0, 0%, 0%, .85);

        span {
            display: block;
            transform: translateY(-3px);
            padding-bottom: 3px;
        }
    }

    &__logo {
        width: 35px;
        margin-right: 10px;
        margin-bottom: 6px;
    }

    &__heading {
        margin: auto;
        margin-bottom: 45px;
        padding: 10px 15px;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: $mainFontColor;
        background: hsla(0, 0%, 100%, .5);
        border-radius: $border-radius;
        font-family: $roboto;
        font-weight: 400;
    }

    &__list {
        margin: 15px 0;
        padding: 0px;
        text-align: center;
    }

    &__item {
        list-style-type: none;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}
