// 768
.b-hello-page {
    &__head {
        font-size: 40px;
    }

    &__sub-head {
        font-size: 1.1rem;
    }

    &__logo {
        width: 40px;
    }

    &__heading {
        width: max-content;
        font-size: 18px;
    }
}
