// 320 ++

.b-hamburger {
    display: inline-block;
    position: relative;
    z-index: 250;
    left: 0;
    height: 64px;
    padding: 4px 5px 4px 3px;
    margin-left: -25px;
    overflow: hidden;
    

    .no-touchevents &:hover,
    .touchevents &:active {
        border-color: $hover-link-on-dark;
        background: $header-hover;

        path {
            stroke: $hover-link-on-dark;
        }
    }

    &.open {
        // left: calc(100vw - 64px);
    }

    &.open & {
        &__top-bar,
        &__bottom-bar {
            stroke-dashoffset: -650px;
        }

        &__middle-bar {
            stroke-dasharray: 0px 220px;
            stroke-dashoffset: -120px;
        }
    }

    svg {
        height: 50px;
        transition: none;
    }

    path {
        stroke-width: 40;
        stroke-linecap: round;
        stroke: #fff;
        fill: none;
        transition: all $animation-time-double ease-in-out, stroke $animation-time;
    }

    &__top-bar,
    &__bottom-bar {
        stroke-dasharray: 240px 910px;
    }

    &__middle-bar {
        stroke-dasharray: 240px 240px;
    }
}