// 320 ++
$animation-time: 0.2s;

.b-hamburger {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid blue;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    overflow: hidden;

    &--popup {
        border-color: #DDE4E8;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
        transition-property: background-color, border-color, color;
        transition-duration: $animation-time;
        transition-timing-function: ease;

        svg {
            pointer-events: none;
            touch-action: none;
        }

        path {
            transition: stroke $animation-time ease;
        }

        .no-touchevents &:hover,
        .touchevents &:active {
            background-color: red;
            border-color: red;

            path {
                stroke: red;
            }
        }
        // align-self: flex-end;
        // margin-bottom: 30px;
    }

    svg {
        width: 50px;
        position: absolute;
        top: 4px;
        left: -2px;
        z-index: 1;
    }

    path {
        stroke-width: 40;
        stroke-linecap: round;
        stroke: burlywood;
        fill: none;
        transition: all 0.4s ease-in-out;
    }

    &__top-bar,
    &__bottom-bar {
        stroke-dasharray: 240px 910px;
    }

    &__middle-bar {
        stroke-dasharray: 240px 240px;
    }

    &.open & {
        &__top-bar,
        &__bottom-bar {
            stroke-dashoffset: -650px;
        }

        &__middle-bar {
            stroke-dasharray: 0px 220px;
            stroke-dashoffset: -120px;
        }
    }
}