// 320 ++

.b-hamburger {
    position: relative;
    z-index: 250;
    left: 0;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    height: 64px;
    border-left: 1px solid transparent;

    .no-touchevents &:hover,
    .touchevents &:active {
        color: #ffffff;
        background: $header-hover;

        path {
            stroke: #ffffff;
        }
    }

    &.open {
        background: rgba(255, 255, 255, 0.05);
        border-left: 1px solid #02100b;
        border-bottom: 1px solid #02100b;
        // border-right: 1px solid #02100b;
    }

    &.open & {
        &__top-bar,
        &__bottom-bar {
            stroke-dashoffset: -650px;
        }

        &__middle-bar {
            stroke-dasharray: 0px 220px;
            stroke-dashoffset: -120px;
        }
    }

    svg {
        display: block;
        height: 50px;
        margin: 0 -2px 0 -4px;
        transition: none;
    }

    path {
        transition: all $animation-time-double ease-in-out, stroke $animation-time;
        fill: none;
        stroke: #ffffff;
        stroke-linecap: round;
        stroke-width: 40;
    }

    &__top-bar,
    &__bottom-bar {
        stroke-dasharray: 240px 910px;
    }

    &__middle-bar {
        stroke-dasharray: 240px 240px;
    }
}
