// 320
.b-logotype {
    display: inline-flex;
    align-items: center;
    width: auto;
    text-align: center;
    color: #fff;
    padding: 12px;
    height: 64px;

    .no-touchevents &:hover,
    .touchevents &:active {
        background: $header-hover;
        color: #fff;
    }

    &__image {
        display: inline-block;
        width: 36px;
        margin-bottom: 3px;
    }

    &__text {
        font-size: 29px;
        display: block;
        letter-spacing: 0.4px;
        margin-left: 8px;
    }
}