// 320
.b-logotype {
    display: inline-flex;
    align-items: center;
    width: auto;
    height: $headerHeight;
    padding: 0 8px;
    font-family: $medium;
    text-align: center;
    color: $whiteFontColor;

    @include hover {
        color: $whiteFontColor;
        background: $header-hover;
    }

    @include focus {
        color: $whiteFontColor;
    }

    &__image {
        display: inline-block;
        width: 32px;
        margin-bottom: 1px;
    }

    &__text {
        display: block;
        margin-left: 8px;
        font-size: 21px;
        letter-spacing: .4px;
    }
}
