// 320
.b-logotype {
    display: inline-flex;
    align-items: center;
    width: auto;
    text-align: center;
    color: #fff;

    &__image {
        display: inline-block;
        width: 40px;
        margin-bottom: 3px;
    }

    &__text {
        font-size: 29px;
        display: block;
        letter-spacing: 0.4px;
        margin-left: 8px;
    }
}