// 320
.b-cost-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    &--total {
        padding-bottom: 10px;
        border-bottom: 1px solid $border-color;
    }

    &__title {
        .b-cost-information--total & {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }

    &__cost {
        .b-cost-information--total & {
            @include costStyle();
            font-size: 1.2rem;
        }
    }
}
