// 320
.b-cost-information {
    font-size: 14px;
    font-family: $medium;
    margin-bottom: 25px;

    &__title {
        color: $mint;
        line-height: 18px;
        margin-bottom: 5px;
    }

    &__cost {
        padding: 10px 7px 7px 10px;
        border: 1px solid #eee;
        background-color: hsla(200, 13%, 98%, .8);
        color: $carmine-pink;
        border-radius: 3px;
        line-height: 22px;
        font-size: 18px;
        vertical-align: baseline;
    }
}