// 320
.b-footer {
    flex-shrink: 0;
    border-top: 1px solid $telegray;
    background-color: $main-background;
    font-weight: 300;
    color: $mainFontColor;

    &--login {
        z-index: 10;
        opacity: 1;
        border-top: none;
        background: transparent;
        color: #fff;
        background-color: rgba(0, 0, 0, .1);
    }

    &--main {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        border-top: none;
        background: rgba(0, 0, 0, .3);
        color: #fff;
    }

    &__wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-content: space-between;
    }

    &__get-schedule {
        display: inline-block;
        padding-top: 3px;
        padding-bottom: 3px;
        font-family: $medium;
        font-size: 16px;
        line-height: 1;
        color: #ffffff;
    }

    &__copyright {
        display: block;
        font-size: 1rem;
        padding: 16px 0 12px;
        margin-right: auto;
    }

    &__social-link {
        display: inline-block;
        padding: 0 16px;
        font-size: 1.3rem;
        line-height: 1;
        color: inherit;
        align-self: stretch;
        // border-left: 1px solid rgba(255, 255, 255, 0.3);
        // border-right: 1px solid rgba(255, 255, 255, 0.3);
        display: flex;
        align-items: center;

        &--disabled {
            cursor: default;
            pointer-events: none;
            color: hsla(0, 0%, 0%, .2);
        }
    }
}
