// 320

.b-add-schedule-card {
    border-bottom: 1px solid $temperate-slate-blue;
    padding-bottom: 40px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;

    &__field {

        &--left,
        &--right {
            display: inline-block;
            width: 50%;
        }

        &--left {
            padding-right: 15px;
        }

        &--right {
            padding-left: 15px;
        }
    }

    &__title-section {
        @include label();
        margin-bottom: 5px;
        margin-bottom: 15px;
    }

    &__check-list {
        margin: 0;
        padding-left: 0;
    }

    &__check-item {
        list-style-type: none;

        &:not(:last-child) {
            margin-bottom: 24px;
        }

        .b-checkbox {
            margin-bottom: 0;
        }
    }

    &__delete {
        width: 25px;
        position: absolute;
        right: 5px;
        top: -10px;
        padding: 3px;
        cursor: pointer;
    }
}