// 320
.b-add-schedule-card {
    position: relative;
    margin: 0 -16px 16px;
    padding: 16px 16px 1px;
    background: #ffffff;
    box-shadow: $cardShadow;

    &__field {
        &--left,
        &--right {
            display: inline-block;
            width: 50%;
        }

        &--left {
            padding-right: 16px;
        }

        &--right {
            padding-left: 16px;
        }
    }

    &__title-section {
        margin-bottom: 10px;
        @include label();
    }

    &__check-list {
        margin: 0;
        padding-left: 0;
    }

    &__check-item {
        list-style-type: none;

        // &:not(:last-child) {
        //     margin-bottom: 24px;
        // }
    }

    &__delete {
        position: absolute;
        z-index: 1;
        top: 0px;
        right: 0px;
        width: 38px;
        padding: 10px;
        cursor: pointer;
    }

    &__error {
        margin-bottom: 16px;
        color: $error;
    }

    &__link {
        color: $mainFontColor;
        text-decoration: underline;
    }
}
