// 768
.b-add-schedule-card {
    overflow: hidden;
    margin: 0px 8px 16px;
    padding: 15px;
    border-radius: $border-radius;
    width: calc(50% - 16px);

    // обёртка над карточкой
    &__list {
        display: flex;
        flex-flow: row wrap;
        margin: 0 -8px;
    }

    &__delete {
        top: 0px;
        right: 0px;
        width: 38px;
        padding: 9px;
        border-bottom: 1px solid transparent;
        border-left: 1px solid transparent;

        @include hover {
            border-color: $body-hover;
        }
    }
}
