// 768
.b-add-schedule-card {
    padding: 30px;
    margin: 0px auto 30px;
    max-width: 480px;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid $border-color;
    background-color: $white;

    &__delete {
        right: 6px;
        top: 6px;
    }
}