// 320++

.b-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // -webkit-overflow-scrolling: touch;
    // overflow-y: auto;
    min-height: 100vh;
    min-width: 320px;

    &--overflow {
        overflow: hidden;
    }

    &.no-scroll, .ReactModal__Body--open & {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        touch-action: none;
    }

    &.no-touch {
        pointer-events: none;
        touch-action: none;
    }
}