// 320++
.b-guide {
    padding: 30px 60px 150px;
    background: #fff;

    &__section {
        margin-bottom: 30px;
        padding-left: 30px;
        border-left: 1px solid #ddd;
    }

    &__heading {
        margin-left: -20px;
    }
}
