// 320
.b-search-list-playground {
    position: relative;
    display: flex;
    padding: 10px 30px 10px 10px;
    transition: border-color $animation-time;
    border: 1px solid $border-color;
    border-radius: $border-radius;

    &--hover {
        cursor: pointer;

        .no-touchevents &:hover,
        .touchevents &:active {
            border-color: $orange-diamond-yellow;
        }
    }

    &__input {
        display: none;
    }

    &__label {
        display: inline-block;
        flex: 0 0 auto;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        padding: 3px;
        transition-duration: $animation-time;
        transition-property: background-color;
        vertical-align: text-bottom;
        border: 1px solid lightgray;
        border-radius: 50%;
        background-color: transparent;
    }

    &__icon-check {
        transition: opacity $animation-time;
        vertical-align: top;
        opacity: 0;
    }

    &__input:checked + &__label {
        border-color: $hover-link-on-dark;
        background-color: #ffffff;

        .b-search-list-playground__icon-check {
            opacity: 1;
        }
    }

    &__content {
        display: inline-block;
        vertical-align: text-top;
    }

    &__name {
        font-size: 16px;
        line-height: 18px;
        color: $mint;
    }

    &__address {
        font-size: 14px;
        line-height: 17px;
        color: $carmine-pink;
    }

    &__delete {
        position: absolute;
        top: 5px;
        right: 5px;
        display: block;
        width: 20px;
        cursor: pointer;
    }
}
