// 320++
.b-input {
    margin-bottom: 50px;

    &__input {
        @include input();
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $mint;
        width: 100%;
        color: $white;
        height: 40px;

        &:focus {
            outline: none;
        }
    }

    &__label {
        @include label();
        display: inline-block;
        margin-bottom: 5px;
    }

    &--black-color & {

        &__input {
            color: $black;
        }
    }
}