// 320++
.b-input {
    margin-bottom: 30px;

    &--inline {
        display: inline-block;
    }

    &--time-booking {
        display: inline-block;
        width: calc(50% - 10px);

        &:nth-child(2) {
            margin-right: 20px;
        }
    }

    &__input {
        @include font-size-5();
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $mint;
        width: 100%;
        color: #fff;
        height: 40px;

        &:focus {
            outline: none;
        }
    }

    &__label {
        @include label();
        display: inline-block;
        // margin-bottom: 5px;
    }

    &--textarea & {

        &__input {
            display: block;
            height: 3.5em;
            resize: vertical;
            border-right: 1px solid $mint;
            // border-radius: $border-radius;
        }

        &__label {
            margin-bottom: 15px;
        }
    }

    &--black-color & {

        &__input {
            color: $mainFontColor;
        }
    }
}