// 320++
.b-input {
    margin-bottom: 1.6rem;
    position: relative;

    &--inline {
        display: inline-block;
    }

    &--time-booking {
        display: inline-block;
        width: calc(50% - 10px);

        &:nth-child(2) {
            margin-right: 20px;
        }
    }

    &__input {
        @include font-size-5();
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $mint;
        width: 100%;
        color: #fff;
        height: 30px;

        &:focus {
            outline: none;
            border-bottom-color: $focus;
        }

        &:disabled {
            border-color: #eee;
            opacity: .5;
        }
    }

    &__label {
        @include label();
        display: inline-block;
    }

    &__label-info {
        @include subTitleStyle();

        &--top {
            margin-top: -15px;
            margin-bottom: 15px;
        }
    }

    &__error {
        top: 100%;
        position: absolute;
        padding-top: 2px;
        @include error();
    }

    &.error & {
        &__input {
            border-bottom-color: $error;
        }
    }

    &--textarea & {
        &__input {
            display: block;
            height: 3.5em;
            resize: vertical;
            border-right: 1px solid $mint;
        }

        &__label {
            margin-bottom: 15px;
        }
    }

    &--black-color & {
        &__input {
            color: $mainFontColor;
        }
    }
}