// 320++
.b-registration {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: auto;
    width: 100%;
    min-height: 100vh;

    &__bg {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
        filter: grayscale(0.1);
        background-color: #1b1c1c;
    }

    .container {
        position: relative;
        z-index: 2;
        display: flex;
        min-height: 100vh;
        padding-top: 100px;
        padding-bottom: 64px;
    }

    &__form-wrapper {
        width: 100%;
        max-width: 420px;
        margin: auto;
    }

    &__form {
        width: 100%;
        padding: 15px;
        border-radius: $border-radius;
        background: rgba(18, 18, 18, .95);
    }

    &__heading {
        text-align: center;
        color: $whiteFontColor;
    }

    &__button-wrapper {
        position: relative;
        text-align: center;
    }

    &__sub-navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row wrap;
        width: 100%;
        margin-top: 15px;
        padding: 10px 15px;
        font-size: .88em;
        line-height: 2;
        color: $bright-telegray;
        border-radius: $border-radius;
        background: rgba(18, 18, 18, .8);
    }

    &__sub-question {
        margin-right: 10px;
    }

    &__error {
        @include error();
        margin-top: 10px;
    }
}
