// 320++
.b-registration {
    height: 100vh;
    background: linear-gradient(to bottom right, #68a2b8, #55bc96);
    overflow: auto;

    .container {
        display: flex;
        min-height: 100%;
        padding-top: 25px;
        margin-bottom: 25px
    }

    &__form {
        background: linear-gradient(to bottom right, #000000, #272727); 
        margin: auto;
        padding: 40px 30px 60px;
        width: 100%;
        max-width: 370px;
        border-radius: 20px;
    }

    &__button-wrapper {
        text-align: center;
    }
}