// 768++
.b-registration {
    &__form-wrapper {
        max-width: 460px;
    }

    &__form {
        padding: 30px;
    }

    &__sub-navigation {
        padding: 15px 30px;
    }

    &__error {
        // font-size: 16px;
        // left: 0px;
        // width: 100%;
    }
}