// 320
.b-booking-form {
    width: 100%;
    max-width: 600px;
    margin: 0px auto;

    &__fieldset {
        margin-bottom: 20px;
        padding: 15px;
        border: 1px solid $border-color;
        border-radius: $border-radius;

        &--error {
            border-color: $error;
        }

        > *:last-child {
            margin-bottom: 0;
        }
    }

    &__note {
        font-size: 1rem;
        margin-bottom: 10px;
        border-left: 2px solid $ok;
        padding-left: 15px;
    }

    &__error {
        margin-bottom: 20px;
        font-size: 1.2rem;
        color: $error;
    }

    &__button {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}
