// 320
.b-trainer-info {
    padding: 15px;
    height: 100%;

    &__playground-list {
        margin-top: 12px;
        margin-bottom: 25px;
        padding-left: 0px;
    }

    &__playground-item {
        display: inline-block;
        width: 100%;
        list-style-type: none;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__title-field {
        margin-bottom: 5px;

        @include label();

        &--light {
            font-family: $medium;
        }
    }

    &__cost {
        font-size: 0;
    }

    &__button {
        text-align: center;
    }
}
