// 320
.b-trainer-info {
    padding: 30px 0 0;
    height: 100%;
    background-color: $main-background;
    padding: 30px 15px;

    &__card {
        font-family: $roboto;
        background-color: #ffffff;
        box-shadow: $cardShadow;
        padding: 15px;
        margin: 0 -15px 15px;
    }

    &__playground-list {
        margin-top: 12px;
        margin-bottom: 25px;
        padding-left: 0px;
    }

    &__playground-item {
        display: inline-block;
        width: 100%;
        list-style-type: none;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &__title-field {
        margin-bottom: 5px;

        @include label();

        &--light {
            font-weight: 400;
        }
    }

    &__cost {
        font-size: 0;
    }

    &__button {
        text-align: center;
    }
}
