// 768
.b-trainer-info {
    padding: 30px;
    background-color: $background-schedule;

    &__info-wrap {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        overflow: hidden;
        margin-bottom: 15px;
        border-radius: 5px;
        box-shadow: $cardShadow;
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }

    &__form {
        flex: 1 1 auto;
        overflow: hidden;
        margin: 0px auto;
        padding: 30px;
        border-right: 1px solid $border-color;
        background-color: #ffffff;
    }

    &__playground {
        flex: 1 1 auto;
        min-height: 230px;
        margin: 0px auto;
        padding: 30px;
        border-color: $border-color;
        background-color: #ffffff;
    }

    &__playground-list {
        margin-right: -7px;
        margin-bottom: 0;
        margin-left: -7px;
    }

    &__playground-item {
        width: 50%;
        padding-right: 7px;
        padding-left: 7px;
    }

    &__button {
        padding-bottom: 50px;
        text-align: center;
    }
}
