// 768
.b-trainer-info {
    padding: 30px;
    background-color: $background-schedule;

    &__info-wrap {
        display: block;
        overflow: hidden;
    }

    &__card {
        overflow: hidden;
        flex: 1 1 auto;
        margin: 0 0 8px;
        padding: 30px;
        border: none;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: $cardShadow;
    }

    &__playground-list {
        margin-right: -7px;
        margin-bottom: 0;
        margin-left: -7px;
    }

    &__playground-item {
        padding-right: 7px;
        padding-left: 7px;
    }

    &__button {
        padding-bottom: 50px;
        text-align: center;
    }
}
