// 768
.b-trainer-info {
    padding: 50px 15px 0px;
    background-color: $background-schedule;

    &__form {
        max-width: 480px;
        margin: 0px auto;
        background-color: $white;
        padding: 30px;
        overflow: hidden;
        border-radius: 6px;
        border: 1px solid $border-color;
        margin-bottom: 50px;
    }

    &__playground {
        margin-left: -15px;
        margin-right: -15px;
        padding: 20px 15px;
        background-color: $white;
        margin-bottom: 50px;
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: $border-color;
    }

    &__playground-list {
        margin-left: -15px;
        margin-right: -15px;
    }

    &__playground-item {
        padding-left: 15px;
        padding-right: 15px;
        width: 50%;
    }

    &__button {
        text-align: center;
        padding-bottom: 50px;
    }
}