// 320++
.b-date-calendar {
    background-color: $mint;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 20px;

    &__calendar {
        background-color: transparent;
        border: none;
        margin: 0px auto;
        font-family: $medium;
        width: 100%;
        max-width: 320px;
    }

    .react-calendar__month-view__weekdays__weekday {
        font-family: $medium;
        font-size: 14px;
        opacity: 0.48;
        color: #ffffff;

        @media (min-width: 768px) {
        font-size: 20px;
        }
    }

    .react-calendar__month-view__days__day {
        color: #ffffff;

        &--neighboringMonth {
        opacity: 0.16;
        }
    }

    .react-calendar__tile {
        font-family: $medium;
        font-size: 14px;
        // border-radius: 50%;
        transition-property: box-shadow;
        transition-duration: $animation-time;

        .no-touchevents &:enabled:hover,
        .touchevents &:enabled:active {
            background-color: transparent;
            box-shadow: 0 16px 16px rgba(0, 0, 0, 0.08), 0 8px 8px rgba(0, 0, 0, 0.08);
        }

        &:enabled:focus {
            background-color: transparent;
        }

        &--active {
            // box-shadow: 0 16px 16px rgba(0, 0, 0, 0.08), 0 8px 8px rgba(0, 0, 0, 0.08);
            background: #fff;
            // border-radius: 50%;
            color: #121212;

            .no-touchevents &:enabled:hover,
            .touchevents &:enabled:active {
                background: #fff;
            }
        }

        &:disabled {
            color: #a7a7a7;
            background-color: transparent;
        }
    }

    button.react-calendar__tile--active:enabled:hover, button.react-calendar__tile--active:enabled:focus {
        background: #ffffff;
    }

    .react-calendar__navigation__label {
        font-family: $regular;
        color: #ffffff;
        padding-bottom: 0px;
        padding-top: 6px;
        font-size: 20px;
    }

    .react-calendar__navigation__arrow {
        color: #ffffff;
        font-size: 30px;
        transition-property: background-color, color;
        transition-duration: $animation-time;

        .no-touchevents &:enabled:hover,
        .touchevents &:enabled:active {
            background-color: #fff;
            color: $mint;
        }

        &:enabled:focus {
            color: #fff;
            background-color: transparent;
        }

        &:disabled {
            color: #a7a7a7;
        }
    }

    .react-calendar__navigation {
        button[disabled] {
        background-color: transparent;
        }
    }

    .react-calendar__navigation__next2-button,
    .react-calendar__navigation__prev2-button {
        display: none;
    }

    .react-calendar__tile--now {
        font-family: $bold;
        // color: $orange-diamond-yellow;
        color: $orange-diamond-yellow;
    }
}