// 320++
.b-date-calendar {
    padding-top: 10px;
    padding-right: 8px;
    padding-bottom: 20px;
    padding-left: 8px;
    background-color: $mint;
    border-top: 1px solid #06281b;

    &__calendar {
        font-family: $medium;
        width: 100%;
        max-width: 320px;
        margin: 0px auto;
        border: none;
        background-color: transparent;
    }

    .react-calendar--selectRange {
        .react-calendar__tile--hover {
            background: rgba(255, 255, 255, .2);
        }
    }

    .react-calendar__month-view__weekdays__weekday {
        font-family: $medium;
        font-size: 14px;
        opacity: .48;
        color: #fff;

        @media (min-width: 768px) {
            font-size: 20px;
        }
    }

    .react-calendar__month-view__days__day {
        color: #fff;

        &--neighboringMonth {
            opacity: 1;
            color: rgba(255, 255, 255, .65);
        }
    }

    .react-calendar__tile {
        font-family: $medium;
        font-size: 14px;
        transition-duration: $animation-time;
        transition-property: box-shadow;
        border: 1px solid $mint;
        border-radius: 3px;

        &:enabled:hover,
        &:enabled:active {
            background: rgba(255, 255, 255, .2);
            background-color: transparent;
        }

        &--active {
            color: #121212;
            background: #fff;

            .no-touchevents &:enabled:hover,
            .touchevents &:enabled:active {
                background: #fff;
            }
        }

        &--now {
            font-family: $bold;
            color: $orange-diamond-yellow;
            border: 1px solid $orange-diamond-yellow;
        }

        &:enabled:focus {
            background-color: transparent;
        }

        &:disabled {
            color: rgba(255, 255, 255, .15);
            background-color: transparent;
        }
    }

    button.react-calendar__tile--active:enabled:hover,
    button.react-calendar__tile--active:enabled:focus {
        background: #fff;
    }

    .react-calendar__navigation__label {
        font-family: $regular;
        font-size: 20px;
        padding-top: 6px;
        padding-bottom: 0px;
        color: #fff;
    }

    .react-calendar__navigation__arrow {
        font-size: 30px;
        transition-duration: $animation-time;
        transition-property: background-color, color;
        color: #fff;

        .no-touchevents &:enabled:hover,
        .touchevents &:enabled:active {
            color: $mint;
            background-color: #fff;
        }

        &:enabled:focus {
            color: #fff;
            background-color: transparent;
        }

        &:disabled {
            color: #a7a7a7;
        }
    }

    .react-calendar__navigation {
        button[disabled] {
            background-color: transparent;
        }
    }

    .react-calendar__navigation__next2-button,
    .react-calendar__navigation__prev2-button {
        display: none;
    }
}
