// 320
.b-my-booking-card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 320px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 1.3;
    border-left: 2px solid transparent;

    &.accept {
        border-color: $mint;
    }
    &.wait {
        border-color: orange;
    }
    &.cancel {
        border-color: #e92617;
    }

    &__type {
        font-weight: 500;
    }

    &__time {
        font-weight: 500;
    }

    &__playground {
        font-weight: 500;
    }

    &__title {
        margin: 0;
        padding: 0;
        font-weight: 300;
    }

    &__status {
        padding-right: 40px;

        .accept & {
            color: $mint;
        }
        .wait & {
            color: orange;
        }
        .cancel & {
            color: #e92617;
        }
    }

     > div + div {
        margin-top: 15px;
    }

    &__cost-text {
        font-size: (16em/15);
        font-weight: 500;
        color: var(--accent-text);
    }

    &__button-wrap {
        margin-top: auto!important;
        text-align: right;
    }
}
