*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100vh;
    min-width: 320px;
}

body {
    margin: 0;
    padding: 0;
    font-family: $medium, Arial, Helvetica, sans-serif;
    background: #fff;
}

.container {
    padding: 0px 15px;
    margin: 0px auto;
    max-width: 1440px;

    @media (min-width: 768px) {
        padding: 0px 30px;
    }

    &--schedule {
        background-color: $mint;
        max-width: none;
    }

    &--white {
        background: #fff;

        @media (min-width: 768px) {
            background-color: transparent;
        }
    }

    &--cabinet {
        padding: 0px;
        height: 100%;
    }
}

a {
    text-decoration: none;
    color: #fff;
    transition: .15s;

    .no-touchevents &:hover,
    .touchevents &:active {
        color: $hover-link-on-dark;
    }
}

@media (min-width: 1280px) {
    .container {
        &--schedule {
            width: calc(100% - 320px);
            max-width: none;
        }
    }
}

h1 {
    @include h1();
    margin-top: 0px;
    margin-bottom: 50px;   
}

h2 {
    @include h2;
    margin-top: 0px;
    margin-bottom: 40px;
}

p {
    @include text();
    margin: 0px;
}