html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'sf_ui_displaymedium', Arial, Helvetica, sans-serif;
}
  
*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
//   max-width: 1920px;
    padding: 0px 15px;
    margin: 0px auto;

    &--schedule {
        background-color: $temperate-slate-blue;
    }
}

a {
    text-decoration: none;
    color: $orange-diamond-yellow;
    transition: color $animation-time;

    .no-touchevents &:hover,
    .touchevents &:active {
        color: lighten($orange-diamond-yellow, 10%);
    }
}

@media (min-width: 1280px) {
    .container {
        &--schedule {
            width: calc(100% - 320px);
        }
    }
}