// ----- fonts -----
$light: 'montserratlight'; // 300
$regular: 'montserratregular'; // 400 
$medium: 'montserratmedium'; // 500
$bold: 'montserratbold' ; // 700

// ----- media -----
$tablet: 768px;
$desktopMin: 1024px;
$desktop: 1280px;
$desktopBig: 1440px;
$desktopFullHd: 1680px;

// ----- animation time -----
$animation-time: 0.2s;
$animation-time-half: $animation-time / 2;
$animation-time-double: $animation-time * 2;

// ----- colors -----
$orange-diamond-yellow: #ffb72d; // - кнопки
$mint: #55bc96;
$temperate-slate-blue: #7c4dff; //- шрифт указателей, информации (к примеру "цена" или "кликни")
$telegray: #8c8c8c;
$bright-telegray: #cccccc;
$black: #000000; // - основной шрифт
$carmine-pink: #e94d51;
$white: #fff;

$border-color: #ebebeb;
$background-schedule: #f4f8f9;

// ----- typography -----
@mixin  h1() {
    font-family: $medium;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.3px;

    @media (min-width: $desktopMin) {
        font-size: 30px;
        line-height: 45px;
    }
}

@mixin text() {
    font-size: 14px;
    line-height: 19px;

    @media (min-width: $desktopMin) {
        font-size: 15px;
        line-height: 21px;
    }

    @media (min-width: $desktop) {
        font-size: 16px;
        line-height: 24px;
    }
}

@mixin label() {
    @include text();
    font-family: $bold;
}

@mixin input() {
    font-size: 15px;

    @media (min-width: $desktop) {
        font-size: 17px;
    }
}