// ----- fonts -----
$light: 'montserratlight'; // 300
$regular: 'montserratregular'; // 400 
$medium: 'montserratmedium'; // 500
$bold: 'montserratbold' ; // 700

// ----- media -----
$tablet: 768px;
$desktopMin: 1024px;
$desktop: 1280px;
$desktopBig: 1440px;
$desktopFullHd: 1680px;

// ----- animation time -----
$animation-time: 0.35s;
$animation-time-half: $animation-time / 2;
$animation-time-double: $animation-time * 2;

// ----- colors -----
// $orange-diamond-yellow: #f56a0c; // - кнопки
$orange-diamond-yellow: #ef396f; // - кнопки
$mint: #0b4e35;
$telegray: #8c8c8c;
$bright-telegray: #cccccc;
$carmine-pink: #e94d51;

$border-color: #ebebeb;
$main-background: #f3f3f3;
$background-schedule: #f3f3f3;

// ссылки
$hover-link-on-dark: #ef396f;

$header-hover: rgba(255, 255, 255, 0.1);
$body-hover: rgba(0, 0, 0, 0.1);

// ----- typography -----
@mixin  h1() {
    font-family: $medium;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.3px;

    @media (min-width: $desktopMin) {
        font-size: 30px;
        line-height: 45px;
    }
}

@mixin h2 {
    font-family: $medium;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.3px;

    @media (min-width: $desktopMin) {
        font-size: 25px;
        line-height: 40px;
    }
}

@mixin text() {
    font-size: 14px;
    line-height: 19px;

    @media (min-width: $desktopMin) {
        font-size: 15px;
        line-height: 21px;
    }

    @media (min-width: $desktop) {
        font-size: 16px;
        line-height: 24px;
    }
}

@mixin label() {
    @include text();
    font-family: $bold;
}

@mixin input() {
    font-size: 15px;

    @media (min-width: $desktop) {
        font-size: 17px;
    }
}

// 2019 new font
// @mixin fontCompination($size, $height) {
//     font-size: $size;
//     line-height: $height;
// }

// .text_48 { @include fontCompination(48px, 64px) }
// .text_40 { @include fontCompination(40px, 56px) }
// .text_32 { @include fontCompination(32px, 40px) }
// .text_24 { @include fontCompination(24px, 32px) }
// .text_18 { @include fontCompination(18px, 26px) }
// .text_16 { @include fontCompination(16px, 24px) }
// .text_14 { @include fontCompination(14px, 20px) }
// .text_12 { @include fontCompination(12px, 16px) }
