// ----- fonts -----
$light: 'montserratlight'; // 300
$regular: 'montserratregular'; // 400 
$medium: 'montserratmedium'; // 500
$bold: 'montserratbold' ; // 700

// ----- media -----
$tablet: 768px;
$desktopMin: 1024px;
$desktop: 1280px;
$desktopBig: 1440px;
$desktopFullHd: 1680px;

// ----- animation time -----
$animation-time: 0.30s; // full screean animation
$animation-time-half: $animation-time / 2;
$animation-time-double: $animation-time * 2;

$materialFunction: cubic-bezier(0.4, 0.0, 0.2, 1);

/** ----- colors ----- */
// Просто цвета:
$mint: #0b4e35;
$telegray: #8c8c8c;
$bright-telegray: #cccccc;
$carmine-pink: #ef396f;
$orange-diamond-yellow: #ef396f;

// Сущности:
$mainFontColor: #2c2c2c;
$main-background: #f3f3f3;
$background-schedule: #f3f3f3;

$hover-link-on-dark: #ef396f;
$header-hover: rgba(255, 255, 255, 0.1);
$body-hover: rgba(0, 0, 0, 0.1);

$border-color: #ebebeb;
$border-radius: 5px;

// ----- typography -----
@mixin  h1() {
    font-family: $medium;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.3px;

    @media (min-width: $desktopMin) {
        font-size: 28px;
    }
}

@mixin h2 {
    font-family: $medium;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.3px;

    @media (min-width: $desktopMin) {
        font-size: 24px;
    }
}

@mixin font-size-5() {
    font-size: 16px;
    line-height: 1.4;
}

@mixin label() {
    @include font-size-5();
    font-family: $bold;
}
