// 320
.b-setting-choose-day {
    border-bottom: 1px solid $mint;
    margin-bottom: 30px;
    padding: 0px 15px 20px;

    &__title {
        @include label();
        display: block;
        padding-right: 0;
        margin-bottom: 10px;
    }

    &__select {
        width: 100%;
    }
}