// 320
.b-setting-choose-day {
    border-bottom: 1px solid #7c4dff;
    padding-bottom: 20px;
    margin-bottom: 30px;

    &__title {
        @include label();
        display: block;
        padding-right: 0;
        margin-bottom: 10px;
    }

    &__select {
        width: 100%;
    }
}