// 768

.b-setting-choose-day {
    display: flex;
    align-items: center;

    &__title {
        margin-bottom: 0px;
        margin-right: 30px;
    }

    &__select {
        width: auto;
        flex-grow: 1;
    }
}