// 320
.b-modal {
    &__title {
        margin-top: 0px;
    }

    &__sub-title {
        font-family: $roboto;
        margin: 1px 0 0;
        font-size: .8em;
        font-weight: 300;
        letter-spacing: normal;
    }

    &__title-group {
        font-family: $bold;
        font-size: 18px;
    }

    &__button-wrapper {
        text-align: center;
    }
}

.ReactModal {
    &__Content {
        top: auto !important;
        right: 0px !important;
        bottom: auto !important;
        left: 0px !important;
        min-height: 100%;
        margin: auto;
        padding: 15px !important;
        border: none !important;
        border-radius: 0!important;
        box-shadow: 0 2px 6px rgba(40, 36, 35, .1);
    }

    &__Overlay {
        z-index: 98;
        overflow: auto;
        background-color: rgba(0, 8, 14, .85) !important;
    }
}

.react_times_button {
    border-radius: 0 !important;
}
