// 320
.b-modal {
    
    &__title {
        margin-top: 0px;
    }

    &__title-group {
        font-family: $bold;
        font-size: 18px;
        color: $temperate-slate-blue;
    }
    
    &__button-wrapper {
        text-align: center;
    }
}

.ReactModal {

    &__Content {
        top: auto !important;
        left: 0px !important;
        right: 0px !important;
        bottom: auto !important;
        padding: 45px 15px !important;
        max-width: 700px;
        box-shadow: 0 2px 6px rgba(40, 36, 35, .1);
        min-height: 100%;
    }

    &__Overlay {
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.2) !important;
        overflow: auto;
    }
}