// 768
.ReactModal {
    &__Content {
        max-width: 520px;
        min-height: 0px;
        margin: 60px auto;
        padding: 30px !important;
        border-radius: $border-radius !important;
    }
}
