// 1280
.b-schedule-item {
    &__state-name {
        &--block {
            display: block;
        }
    }

    &__state {
        font-size: 19px;

        &:before {
            top: 8px;
        }
    }
}