// 320++
.b-schedule-item {
    cursor: pointer;
    position: relative;
    padding: 15px;
    margin: 0 -15px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;

    &__time-wrap {
        display: flex;
        align-items: center;
    }

    &__time {
        color: #222222;
        font-family: $medium;
        font-size: 18px;
        line-height: 1.4;

        &--finish {
            color: #cccccc;
        }
    }

    &__info {
        width: 100%;
    }

    &__state {
        font-family: $regular;
        font-size: 18px;
        line-height: 26px;
        position: relative;
        padding: 0 15px;

        &:before {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            position: absolute;
            top: 10px;
            left: 0px;
            background-color: transparent;
        }

        &--free {
            &::before {
                background-color: #29cb41;
            }
        }

        &--busy {
            &::before {
                background-color: #ff6158;
            }
        }
    }

    &__state-name {
        vertical-align: middle;
    }

    &__court-info {
        font-family: $regular;
        font-size: 14px;
        line-height: 18px;
        color: $telegray;
    }

    &__click {
        font-family: $regular;
        font-size: 14px;
        line-height: 1.2;
        margin-top: 10px;
        color: $mint;
        text-align: right;
    }

    &__name-court {
        font-family: $bold;
        font-size: 16px;
        margin: 0;
        margin-bottom: 1px;
        color: $mint;
    }

    &__address-court {
        font-family: $medium;
        margin: 0;
        margin-bottom: 5px;
    }

    &__additional-court {
        margin: 0;
        color: $bright-telegray;
    }
}