// 320++
.b-schedule-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    cursor: pointer;
    position: relative;

    &__time-wrap {
        line-height: 32px;
        display: inline-block;
        flex-shrink: 0;
        margin-right: 35px;
        padding-top: 10px;
    }

    &__time {
        color: #222222;
        font-family: $medium;
        // font-size: 24px;
        font-size: 14px;
        line-height: 21px;

        &--finish {
            color: #cccccc;
        }
    }

    &__info {
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #ebebeb;
        padding-top: 5px;
        padding-bottom: 10px;
        min-height: 115px;
    }

    &__state {
        font-family: $regular;
        // font-size: 30px;
        // line-height: 42px;
        font-size: 18px;
        line-height: 26px;
        position: relative;
        margin-bottom: 6px;

        &:before {
            content: '';
            display: block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            position: absolute;
            top: 11px;
            left: -13px;
            background-color: transparent;
        }

        &--free {
            &::before {
                background-color: #29cb41;
            }
        }

        &--busy {
            &::before {
                background-color: #ff6158;
            }
        }
    }

    &__state-name {
        vertical-align: middle;
    }

    &__court-info {
        font-family: $regular;
        font-size: 14px;
        line-height: 18px;
        color: $telegray;
    }

    &__click {
        font-family: $regular;
        font-size: 14px;
        line-height: 18px;
        margin-top: 15px;
        color: $mint;
    }

    // &__price {
    //     display: inline-block;
    //     padding: 4px 4px 2px;
    //     border: 1px solid #eee;
    //     background-color: #f2f4f5;
    //     color: $mint;
    //     border-radius: 3px;
    //     line-height: 22px;
    //     vertical-align: middle;
    // }

    &__name-court {
        font-family: $bold;
        font-size: 15px;
        margin: 0;
        margin-bottom: 1px;
        color: $mint;
    }

    &__address-court {
        font-family: $medium;
        margin: 0;
        margin-bottom: 5px;
    }

    &__additional-court {
        margin: 0;
        color: $bright-telegray;
    }
}