// 320++
.b-schedule-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    color: $mainFontColor;
    border-left: 5px solid transparent;
    outline: none;

    @include hover {
        color: $mainFontColor;
        .b-schedule-item__click {
            color: $mainFontColor;
        }
    }

    @include focus {
        outline: $focus solid 1px;

        .b-schedule-item__click {
            color: $focus;
        }
    }

    &--free {
        border-left-color: $ok;
    }

    &--busy {
        border-left-color: $error;
        @include focus {
            outline: none;
        }
    }

    &--empty {
        border-left-color: $border-color;
    }

    &__time-wrap {
        display: flex;
        align-items: center;
    }

    &__time {
        font-size: 18px;
        line-height: 1.4;
        color: #222222;

        &--finish {
            color: $telegray;
        }
    }

    &__info {
        width: 100%;
    }

    &__state {
        position: relative;
        padding: 0 15px;
        font-size: 18px;
        line-height: 26px;

        &:before {
            position: absolute;
            top: 10px;
            left: 0px;
            display: block;
            width: 8px;
            height: 8px;
            content: '';
            border-radius: 50%;
            background-color: transparent;
        }
    }

    &__who-tel {
        // color: $secondary
        color: $mint;
    }

    &__who-name {
        margin-bottom: 2px;
    }

    &__court-info {
        font-size: 14px;
        line-height: 18px;
        color: $telegray;
    }

    &__click {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.2;
        text-align: right;
        color: $bright-telegray;
    }

    &__name-court {
        margin: 0;
        margin-bottom: 1px;
        font-size: 16px;
        color: $mint;
    }

    &__address-court {
        margin: 0;
        margin-bottom: 5px;
    }

    &__additional-court {
        margin: 0;
        color: $bright-telegray;
    }

    &__cancel {
        width: 38px;
        padding: 10px;
        cursor: pointer;
        border: 0;
        background: none;
    }
}
