// 320
.b-booking-request {
    & > p {
        margin-bottom: 50px;
        padding: 0px 15px;
        font-family: $bold;
    }

    h2 {
        margin-bottom: 30px;
        padding: 0px 15px;
    }

    &__list {
        margin-right: -15px;
        margin-left: -15px;
    }

    &__item {
        padding: 15px;
        background-color: #ffffff;
        box-shadow: $cardShadow;

        .b-booking-request__list--old & {
            box-shadow: none;
            background: #ffffffb5;
        }

        & + & {
            margin-top: 15px;
        }
    }

    &__player-name {
        font-size: 18px;
        line-height: 26px;
    }

    &__player-tel {
        font-size: 1.1rem;
        color: $mint;
    }

    &__training {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    &__training-playground {
        font-size: 16px;
        line-height: 21px;
        color: $mint;
    }

    &__training-time {
        font-size: 14px;
        line-height: 21px;
        color: $carmine-pink;
    }

    &__buttons {
        display: flex;
        flex-flow: row nowrap;
        margin-top: auto;

        & > * + * {
            margin-left: 15px;
        }
    }
}
