// 320
.b-booking-request {
    margin-left: -15px;
    margin-right: -15px;
    font-size: 0;

    > p {
        padding: 0px 15px;
        margin-bottom: 50px;
        font-family: $bold;
    }

    h2 {
        padding: 0px 15px;
        margin-bottom: 30px;
    }

    &__item {
        padding: 20px 15px;

        & + & {
            border-top: 1px solid $mint;
        }
    }

    &__player-name {
        font-size: 18px;
        line-height: 26px;
    }

    &__player-tel {
        font-size: 16px;
        line-height: 1;
    }

    &__training {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    &__training-playground {
        font-size: 16px;
        line-height: 21px;
        color: $mint;
    }

    &__training-time {
        font-size: 14px;
        line-height: 21px;
        color: $carmine-pink;
    }

    &__buttons {
        display: flex;
        flex-flow: row nowrap;

        & > * + * {
            margin-left: 15px;
        }
    }
}