// 768
.b-booking-request {
    &__list {
        display: flex;
        flex-flow: row wrap;
        margin: 0 -8px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: calc(50% - 16px);
        margin: 0 8px 16px;
        // padding: 20px;
        vertical-align: top;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        background-color: #ffffff;

        & + & {
            margin: 0 8px 16px;
        }
    }
}
