// 320++

.b-menu {
    position: fixed;
    z-index: 50;
    top: 0px;
    left: 0px;
    height: 100%;
    width: calc(100% - 60px);
    background-color: $mint;
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: $animation-time;

    &.open {
        transform: translateX(0%);
    }

    &__list {
        padding: 60px 15px 0px;
    }

    &__item {
        list-style-type: none;
        margin-bottom: 10px;
    }

    &__link {
        font-family: $medium;
        font-size: 15px;
        line-height: 1;
        padding: 10px 0px;
        display: block;
        color: $white;
        border-bottom: 1px solid $orange-diamond-yellow;
    }
}