// 320++
.b-slider-schedule {
    position: relative;

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        margin-bottom: 15px;
        padding: 0px 45px;
        border-color: $border-color;
        border-top: 1px solid;
        border-bottom: 1px solid;
    }

    &__title {
        font-family: $regular;
        font-size: 14px;
        line-height: 17px;
        padding-top: 2px;
    }

    &__slide {
        &:focus {
            outline: none;
        }
    }
}

.tns-outer {
    .tns-controls {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        height: 30px;
        margin-bottom: -30px;

        &:focus {
            outline: none;
        }

        button {
            font-size: 16px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            transition: border-color $animation-time;
            color: $telegray;
            border: 1px solid $border-color;
            outline: none;
            background: #fff;
            background-color: $border-color;

            .no-touchevents &:not(:disabled):enabled:hover,
            .touchevents &:not(:disabled):enabled:active {
                border-color: $telegray;
            }

            &:before,
            &:after {
                position: absolute;
                top: 50%;
                content: '';
                transition: border-color $animation-time;
                transform: translateY(-50%);
                border: 9px solid transparent;
            }

            &:first-child {
                &:after {
                    left: 5px;
                    border: 7px solid transparent;
                    border-right: 7px solid $border-color;
                }

                &:before {
                    left: 0px;
                    border-right: 9px solid $telegray;
                }
            }

            &:last-child {
                &:after {
                    right: 5px;
                    border: 7px solid transparent;
                    border-left: 7px solid $border-color;
                }

                &:before {
                    right: 0px;
                    border-left: 9px solid $telegray;
                }
            }

            &:disabled {
                &:first-child {
                    &:before {
                        border-right: 9px solid $bright-telegray;
                    }
                }

                &:last-child {
                    &:before {
                        border-left: 9px solid $bright-telegray;
                    }
                }
            }
        }
    }
}
