// 320++
.b-slider-schedule {
    position: relative;

    &__header {
        height: 30px;
        margin-bottom: 15px;
        padding: 0px 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid;
        border-top: 1px solid;
        border-color: $border-color;
    }

    &__title {
        font-family: $regular;
        font-size: 14px;
        line-height: 17px;
        padding-top: 2px;
    }

    &__slide {
        &:focus {
            outline: none;
        }
    }
}

.tns-outer {
    .tns-controls {
        margin-bottom: -30px;
        height: 30px;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        
        &:focus {
            outline: none;
        }

        button {
            background: $white;
            outline: none;
            height: 30px;
            width: 30px;
            border: 1px solid $border-color;
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $telegray;
            background-color: $border-color;
            
            &:disabled {
                color: $bright-telegray;
            }
        }
    }
}